<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot-angular:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springboot_angular_war_exploded.war</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springboot-angular/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot-angular" />
        </element>
      </element>
    </root>
  </artifact>
</component>